couchbase==3.2.2
DateTime==4.1.1
Flask==1.1.2
Flask-Classy==0.6.10
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==0.23
PyJWT==1.4.2
pytz==2016.10
six>=1.10.0
Werkzeug==2.2.3
zope.interface>=5.2.0
Flask-Cors>=3.0.10
flasgger==0.9.5
