click==6.7
couchbase==2.2.0
DateTime==4.1.1
Flask==0.12
Flask-Classy==0.6.10
itsdangerous==0.24
Jinja2==2.9.3
MarkupSafe==0.23
PyJWT==1.4.2
pytz==2016.10
six==1.10.0
Werkzeug==0.15.3
zope.interface==4.3.3
