couchbase==4.1.0
DateTime==4.1.1
Flask==2.1.0
Flask-Classy==0.6.7
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
PyJWT==2.6.0
pytz==2016.10
six>=1.16.0
Werkzeug==2.1.2
zope.interface>=5.2.0
Flask-Cors>=3.0.10
flasgger==0.9.5
